<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact List</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%= url('/contact_list.css') %>" type="text/css"/>
  </head>
  <body>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>
    <%= yield %>
  </body>
</html>